nav ul li a {
    display: block;
    color: white;
    font-family: sans-serif;
    text-decoration: none;
}

nav ul li {
    border-bottom: 1px solid #444;
    background-color: #1d2026;
    font-size: 30px;
    padding: 10px 5px;
    transition-property: background-color;
    transition-duration: 0.5s;
}

nav ul li:hover {
        background-color:#555;
    }
    
nav ul {
    list-style: none;
    text-align: center
}
    
body {
    background-color: #292e37;
}

@media screen and (min-width: 768px) and (max-width: 991px)
{
    nav {
        font-size: 0;
    }
    nav ul li {
        display: inline-block;
        font-size: 20px;
        width: 120px;
    }
    nav ul {
        background-color: #1D2026
    }

}